<h1><%= @nation.capitalize.gsub('+', ' ') %></h1>

<h2>Number of Members: <%= @nation_members.count %>

<h3>First 25 Members:</h3>

<% @nation_members[0..24].each do |member| %>
  <div id='member_<%= member[:_id] %>'>
  <% if member[:photoUrl].present? %>
    <p id='image'><%= image_tag(member[:photoUrl], alt: "#{member[:name]}") %></p>
  <% end %>

  <p><b>Name: <%= member[:name] %></b><p>

  <p>Allies: <% if member[:allies].present? %>
    <%= member[:allies].to_sentence %>
  <% else %>
    <%= 'None' %>
  <% end %></p>

<p>Enemies: <% if member[:enemies].present? %>
    <%= member[:enemies].to_sentence %>
  <% else %>
    <%= 'None' %>
  <% end %></p>

  <p>Affiliation: <%= member[:affiliation] %>
  </div>
  <br><br>
<% end %>